<div id="form">
<h2>Login</h2>

<form action="/login" method="POST">
    <label for="username">User</label>
    <input type="text" name="username" id="username" placeholder="Write your username...">
    <label for="hashedPassword">Password</label>
    <input type="password" name="hashedPassword" id="hashedPassword" placeholder="Write your password...">
    <button type="submit">Log in</button>
    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
</div>